html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  /* Bad!, rid of this */
  overflow-x: hidden;
}

@media only screen and (max-width: 769px) {
  body {
    background-image: url('/assets/imgs/bg_confetti_mobile.png');
  }  
}

@media only screen and (min-width: 770px) {
  body {
    background-image: url("/assets/imgs/bg_confetti.png");
  }
}

.card {
  display: inline-block;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.image {
  width: 100%;

  display: block;
}

.card.has-no-radius {
  border-radius: 0px;
}

a {
  text-decoration: none;
  color: white;
}

a.link {
  color: #757575;
}

a.link:hover {
  color: #212121;
}

.container {
  width: 85%;
  height: auto;

  display: block;
}

.button {
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 70px;
  padding-right: 70px;

  display: inline-block;

  border: none;
  border-radius: 50px;
  background: #F1576B;

  font-size: 120%;
  font-family: 'Poppins ExtraBold';
}

.button:hover {
  background: black;
  color: white;
}

nav {
  padding-top: 13px;
  padding-bottom: 13px;
}

.menu  {
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: inline;

  font-family: 'Poppins Regular';
}

.mast {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mast .line {
  font-family: 'Poppins ExtraBold';
  font-size: 100%;
}

.mast .line.large {
  font-size: 180px;
}

.mast .subline {
  font-family: 'Poppins ExtraBold';
  font-size: 40px;

  color: rgba(0, 0, 0, 0.6);
}

.section.content {
  background-color: white;
}

.content.column {
  padding-top: 20px;
}

.sec-no {
  display: inline-block;

  color: black;
  font-size: 140px;
  font-family: 'Poppins ExtraBold';
  line-height: 60%;
}

.sec-sub {
  color: black;
  font-family: 'Poppins Regular';
  font-weight: bold;
  font-size: 30px;

  text-align: center;
}

.padded {
  padding: 10px;
}

.padded.top {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.padded.top.huge {
  padding-top: 60px;
}

.subline-spacer {
  width: 3%;
}

.spacer {
  widows: 100%;

  padding-top: 85px;
  padding-bottom: 85px;

  background: white;
}

.title.large {
  font-family: 'Poppins ExtraBold';
  font-size: 65px;
}

.text {
  font-family: 'Poppins Regular';
  font-size: large;
}

.white.bg {
  background: white;
}

.dark.bg {
  background: rgba(0, 0, 0, 0.85);
}

hr { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #44000000, #000000, #44000000);
  background-image: -moz-linear-gradient(left, #44000000, #000000, #44000000);
  background-image: -ms-linear-gradient(left, #44000000, #000000, #44000000);
  background-image: -o-linear-gradient(left, #44000000, #000000, #44000000); 
}

.video-theater {
  width: 120%;
  margin-left: -10%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: black;
  text-align: center;
}

.video-theater .video {
  width: 55%;
  height: auto;
}

.box {
  border-radius: 5px;
  overflow: hidden;
}

.relative {
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 0px; left: 0px;
}

.overlay {
  height: 25%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

.overlay span {
  font-family: 'Poppins Regular';
  font-weight: bold;

  color: white;
}

.footer {
  color: white;
  font-size: small;
}

.big.icon {
  font-size: 150%;
}

.text.centered {
  text-align: center;
}

.text.left {
  text-align: left;
}

.text.right {
  text-align: right;
}

.stretch.width {
  width: 100%;
}

.stretch.height {
  height: 100%;
}

.clear {
  clear: both;
}

.red {
  color: red;
}

.mobile-collapsible {
  display: inline-block;
}

/* responsive classes */
.mobile.only {
  display: none;
}

.non-mobile.only {
  display: inline-block;
}

.menu.flowing {
  position: relative;
  
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: -14px !important;
  
  text-align: left;
}

@media only screen and (max-width: 769px) {
  .mobile.only {
    display: inline-block;
  }

  .non-mobile.only {
    display: none;
  }
  
  .mast .line {
    font-size: 200%;
  }

  .mast .line.large {
    font-size: 350%;  
  }

  .mast .subline {
    font-size: 100%;
  }
  
  .title.large {
    font-size: 160%;
  }

  .text {
    font-size: 90%;
  }

  .mobile.pill {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    padding: 5px;

    margin-left: 4px;
    margin-right: 4px;
  }

  .mobile-collapsible .menu {
    /* display: none; */
  }

  .mobile.abs-centered {
    position: relative;
    top: 25%; left: 50%;

    transform: translate(-50%, -50%);
  }

  .mobile.left {
    text-align: left;
  }

  .mobile.card-spaced.top {
    padding-top: 5%;
  }
}

.debug {
  background: red;
}
