/* Poppins Font */
@font-face {
  font-style: normal;
  font-family: 'Poppins ExtraBold';
  src: url('/assets/poppins/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-style: normal;
  font-family: 'Poppins Regular';
  src: url('/assets/poppins/Poppins-Regular.ttf');
}
