[Desktop Entry]
Encoding=UTF-8
Name=Link to  
Type=Link
URL=http://demo.cocobasic.com/caliris-wp/wp-content/uploads/2017/11/left_obj_01.png
Icon=image-png
